In [76]:
from preprocess import *
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [79]:
filepath = "../data/politifact/politifact_all.csv"

# Getting Word Tokens

In [80]:
preprocessed = Preprocess(filepath)

In [81]:
df = pd.read_csv(filepath)
df.head()

,Unnamed: 0,id,news_url,title,tweet_ids,label
0,0,politifact15014,speedtalk.com/forum/viewtopic.php?t=51650,BREAKING: First NFL Team Declares Bankruptcy O...,937349434668498944\t937379378006282240\t937380...,0
1,1,politifact15156,politics2020.info/index.php/2018/03/13/court-o...,Court Orders Obama To Pay $400 Million In Rest...,972666281441878016\t972678396575559680\t972827...,0
2,2,politifact14745,www.nscdscamps.org/blog/category/parenting/467...,UPDATE: Second Roy Moore Accuser Works For Mic...,929405740732870656\t929439450400264192\t929439...,0
3,3,politifact14355,https://howafrica.com/oscar-pistorius-attempts...,Oscar Pistorius Attempts To Commit Suicide,886941526458347521\t887011300278194176\t887023...,0
4,4,politifact15371,http://washingtonsources.org/trump-votes-for-d...,Trump Votes For Death Penalty For Being Gay,915205698212040704\t915242076681506816\t915249...,0

In [5]:
preprocessed.tokenize("title", "tokens")

In [7]:
preprocessed.remove_empty("tokens")

In [27]:
tokens_df = preprocessed.df
tokens_df.drop(labels=["news_url", "id", "Unnamed: 0", "tweet_ids", "index"], axis=1, inplace=True)
tokens_df.head()

,title,label,tokens
0,BREAKING: First NFL Team Declares Bankruptcy O...,0,"[breaking, :, first, nfl, team, declares, bank..."
1,Court Orders Obama To Pay $400 Million In Rest...,0,"[court, orders, obama, to, pay, $, 400, millio..."
2,UPDATE: Second Roy Moore Accuser Works For Mic...,0,"[update, :, second, roy, moore, accuser, works..."
3,Oscar Pistorius Attempts To Commit Suicide,0,"[oscar, pistorius, attempts, to, commit, suicide]"
4,Trump Votes For Death Penalty For Being Gay,0,"[trump, votes, for, death, penalty, for, being..."

In [28]:
tokens_df.to_csv("../data/politifact_tokens.csv")

In [23]:
tokens = list(preprocessed.df.tokens)
tokens = np.concatenate([np.array(i) for i in tokens])
tokens.shape

(11346,)

In [82]:
text = list(df.title)

# TFIDF

In [41]:
vectorizer = TfidfVectorizer(stop_words="english")
tfidf = vectorizer.fit_transform(text)

In [48]:
tfidf = tfidf.toarray()
tfidf.shape

(1056, 3191)

In [49]:
tfidf

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [59]:
np.save("../data/politifact_tfidf", tfidf)

# Count Vectorizing

In [66]:
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(text)
X = X.toarray()
X.shape

(1056, 3375)

In [67]:
X[X==1].shape

(9363,)

In [71]:
np.save("../data/politifact_count_vectorizer_1", X)

In [87]:
vectorizer2 = CountVectorizer(analyzer='word', ngram_range=(2, 2))
X2 = vectorizer2.fit_transform(text)
X2.toarray()
X2.shape

(1056, 7229)

In [92]:
X2=X2.toarray()

In [93]:
np.save("../data/politifact/politifact_count_vectorizer_2", X2)